<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">
  <p>
    <label for="team_name">Team Name:</label>
    <input id="team_name" type="text" name="team[name]"></input>
  </p>
  <p>
    <label for="team_motto">Team Motto:</label>
    <input id="team_motto" type="text" name="team[motto]"></input>
  </p>
  <h2>Hero 1</h2>
  <p>
    <label for="hero_name_1">Hero's Name:</label>
    <input id="hero_name_1" type="text" name="team[hero][][name]"></input>
  </p>
  <p>
    <label for="hero_power_1">Hero's Power:</label>
    <input id="hero_power_1" type="text" name="team[hero][][power]"></input>
  </p>
  <p>
    <label for="hero_biography_1">Hero's Biography:</label>
    <input id="hero_biography_1" type="text" name="team[hero][][bio]"></input>
  </p>
  <h2>Hero 2</h2>
  <p>
    <label for="hero_name_2">Hero's Name:</label>
    <input id="hero_name_2" type="text" name="member2_name"></input>
  </p>
  <p>
    <label for="hero_power_2">Hero's Power:</label>
    <input id="hero_power_2" type="text" name="member2_power"></input>
  </p>
  <p>
    <label for="hero_biography_2">Hero's Biography:</label>
    <input id="hero_biography_2" type="text" name="member2_bio"></input>
  </p>
  <h2>Hero 3</h2>
  <p>
    <label for="hero_name_3">Hero's Name:</label>
    <input id="hero_name_3" type="text" name="member3_name"></input>
  </p>
  <p>
    <label for="hero_power_3">Hero's Power:</label>
    <input id="hero_power_3" type="text" name="member3_power"></input>
  </p>
  <p>
    <label for="hero_biography_3">Hero's Biography:</label>
    <input id="hero_biography_3" type="text" name="member3_bio"></input>
  </p>

  <input type="submit" value="submit"></input>
</form>
