<h1>Create a Team and Heroes!</h1>

<form action="/team" method="post">
  <p>
    <label for="team_name">Team Name:</label>
    <input id="team_name" type="text" name=""></input>
    <label for="team_name">Team Name:</label>
    <input id="team_name" type="text" name=""></input>    
  </p>

  <input type="submit" value="submit"></input>
</form>
