<h1>Create a Team and Heroes!</h1>

<form action="/team" method="post">
  <p>
    <label for="team_name">Team Name:</label>
    <input id="team_name" type="text" name="team_name"></input>
    <label for="team_motto">Team Motto:</label>
    <input id="team_motto" type="text" name="team_motto"></input>    
  </p>
  <h2>Hero 1</h2>
  <p>
    
  </p>

  <input type="submit" value="submit"></input>
</form>
